/* .add-testing-button .heading i {
  filter: drop-shadow(0px 0px 20px rgba(var(--javascript), 90%));
} */

.add-testing-button .description {
  margin-bottom: 15px;
}

.add-testing-button .inputs {
  display: flex;
  gap: 10px;
}

.add-testing-button .inputs input {
  flex: 1;
}

.add-testing-button .buttons {
  display: flex;
  align-self: flex-end;
  gap: 10px;
  margin-top: 16px;
}

#add-button-remove {
  background-color: rgba(var(--error-light), 100%);
  box-shadow: 1px 1px 20px 0px rgba(var(--error-light), 50%);
}

#add-button-remove:hover {
  background-color: rgba(var(--error-light), 90%);
}

#add-button-continue {
  box-shadow: 1px 1px 20px 0px rgba(var(--log-light), 50%);
}
