.bubbles-animation{
    position: fixed;
    z-index: -30;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    margin: auto;
    filter: blur(10);
    visibility: hidden;

    canvas {
        width: 100%;
        height: 100%;
    }
}

.bubbles-animation-active .bubbles-animation{
    visibility: visible;
}

.bubbles-animation-active .activeFileStack {
    backdrop-filter: blur(6px);
    background-color: rgba(var(--peace), 70%);
}

.bubbles-animation-active .output {
    background-color: rgba(var(--primary-bg), 70%);
}

.bubbles-animation-active .input .log-input {
    background-color: rgba(var(--peace), 70%);
    border-radius: 5px 5px 5px 5px;
}

.bubbles-animation-active .menu {
    background-color: rgba(var(--peace), 70%);
    backdrop-filter: blur(6px);
}

.bubbles-animation-active .add-file-dialog {
    background-color: rgba(var(--peace), 70%);
    border: 3px solid rgba(var(--primary-bg), 100%);
    backdrop-filter: blur(16px);
}

.bubbles-animation-active .file_manager {
    background-color: rgba(var(--peace), 70%);
    backdrop-filter: blur(16px);
}


.bubbles-animation-active .file_manager .files .file {
    box-shadow: inset 0 0 0 2px rgba(var(--primary-2), 14%);
}

.bubbles-animation-active .systemSettings {
    background-color: rgba(var(--peace), 70%);
    backdrop-filter: blur(16px);
}


.bubbles-animation-active .dropdown .input {
    background-color: rgba(var(--peace), 100%);
    backdrop-filter: blur(16px);
}

.bubbles-animation-active .dropdown .list {
    background-color: rgba(var(--peace), 100%);
    backdrop-filter: blur(16px);
}